<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <form method="post" th:action="@{/salvar-cliente}" th:object="${cliente}" enctype="multipart/form-data">
                <label>Nome</label>
                <input type="text" placeholder="Seu nome" th:field="*{nome}">
                <br>
                <label>Idade</label>
                <select th:field="*{idade}">
                    <option th:each="numero : ${#numbers.sequence(18, 100)}" th:value="${numero}" th:text="${numero}"></option>
                </select>
                <br>
                <label>Avatar</label>
                <input type="file" name="avatarFile" accept="image/jpg">
                <button type="submit">Confirmar</button>
            </form>
            <div align="center">
                <a href="/listar-clientes">Voltar</a>
            </div>
        </div>
    </body>
</html>
